<div layout="column">
  <div flex *ngIf="actorDetail$ | async" [ngClass]="{ stopped: ((actorDetail$ | async).status === 1) }">
    <span>Status: {{(actorDetail$ | async).status === 0 ? 'Started' : 'Stopped'}}</span>
  </div>
  <div flex *ngIf="actorCounters$ | async" class="countersHeight">
    <ngx-charts-number-card [results]="actorCounters$ | async">
    </ngx-charts-number-card>
  </div>
  <div flex *ngIf="(actorExceptions$ | async)?.length > 0">
    <div style="height: 400px;overflow: auto;">
      <app-actor-detail-exceptions [actorExceptions$]="actorExceptions$"></app-actor-detail-exceptions>
    </div>
  </div>
  <div flex *ngIf="(actorEvents$ | async)?.length > 0">
    <div style="height: 400px;overflow: auto;">
      <app-actor-detail-events [actorEvents$]="actorEvents$"></app-actor-detail-events>
    </div>
  </div>
</div>
<!--
<pre>actor: {{actor | json}}</pre>
<pre>detail: {{actorDetail$ | async | json}}</pre>
<pre>counters: {{actorCounters$ | async | json}}</pre>
<pre>events: {{actorEvents$ | async | json}}</pre>
<pre>exceptions: {{actorExceptions$ | async | json}}</pre>
-->
