<!--
  <div layout="row">
  <div flex>
    <h3>{{actor?.label}} ({{actor?.path}})</h3>
  </div>
</div>
-->
<div layout="column">
  <div flex *ngIf="actorDetail" [ngClass]="{ stopped: actorDetail.status === 1 }">
    <span>Status: {{actorDetail.status === 0 ? 'Started' : 'Stopped'}}</span>
  </div>
  <div flex *ngIf="actorCounters" class="countersHeight">
    <ngx-charts-number-card [results]="actorCounters">
    </ngx-charts-number-card>
  </div>
  <div flex *ngIf="actorExceptions && actorExceptions.length > 0">
    <td-data-table [data]="actorExceptions" [columns]="exceptionsTableColumns" [style.height.px]="400">
      <ng-template tdDataTableTemplate="timestamp" let-value="value">
        <span>{{value|date:'medium'}}</span>
      </ng-template>
    </td-data-table>
  </div>
  <div flex *ngIf="actorEvents && actorEvents.length > 0">
    <td-data-table [data]="actorEvents" [columns]="eventsTableColumns" [style.height.px]="400">
      <ng-template tdDataTableTemplate="timestamp" let-value="value">
        <span>{{value|date:'medium'}}</span>
      </ng-template>
    </td-data-table>
  </div>
</div>
<!--
<pre>{{actor | json}}</pre>
<pre>{{actorDetail | json}}</pre>
<pre>{{actorCounters | json}}</pre>
<pre>{{actorEvents | json}}</pre>
<pre>{{actorExceptions | json}}</pre>
-->
